.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

.grid-item{
    background-color: lightblue;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.flex-item{
    background-color: lightgreen;
    padding: 20px;
    width: 100px;
    align-items: center;
    text-align: center;

}

.positioned-container{
    position: relative;
    height: 200px;
    background-color: lightgrey;

}
.positioned-element{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: lightcoral;
}

.float-left{
    float: left;
    width: 25%;
    background-color: lightblue;
    padding: 20px;
}

.center-section{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    background-color: lightcoral;
    padding: 20px;
}

.float-right{
    float: right;
    width: 25%;
    background-color: lightgreen;
    padding: 20px;
}

.float-container{
    margin: 20px;
    border: 1px solid #ccc;

}